.alert .MuiSnackbarContent-root {
  margin-top: 35%;
  color: var(--mui-palette-error-main);
  font-size: 0.75rem;
  background-color: var(--mui-palette-error-light) !important;
}

.remember-me-checkbox span svg {
  fill: black !important;
}

.remember-me-checkbox span {
  padding: 6px 7px 6px 0 !important;
}

body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
}

.drawer-select div div {
  display: flex;
  align-items: center;
  height: 32px !important;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;

  /* border: 1px solid #1f1b13 !important; */
  border-radius: 8px;
}

.word-break {
  word-break: break-all;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.text-dark-grey {
  color: var(--mui-palette-warning-A200);
}

.text-1F {
  color: #1f1b13;
}

.text-0D {
  color: #0d599e;
}

.pt-10 {
  padding-top: 8px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;

  .App {
    width: 100%;
    min-height: 700px;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
    background-color: paleturquoise;
  }
}

/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.icon {
  display: inline-block;
  font-family: 'Material Icons', serif;
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  vertical-align: middle;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --pink-color: #ff1a79;
  --custom-gradient: linear-gradient(180deg, #fffdf7 0%, #f8efda 100%);
  --custom-gradient-pink: linear-gradient(45deg, #ff1a79 0%, #eb82b3 40%);
  --toastify-color-success: #fff !important;
  --toastify-icon-color-info: #fff !important;
  --toastify-icon-color-success: #fff !important;
  --toastify-icon-color-warning: #fff !important;
  --toastify-icon-color-error: #fff !important;
  --toastify-text-color-info: #fff !important;
  --toastify-text-color-success: #fff !important;
  --toastify-text-color-warning: #fff !important;
  --toastify-text-color-error: #fff !important;
}

/* GENERAL */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  color: var(--text-color);
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
  background: #fff;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  background: var(--mui-palette-success-contrastText);
  border-bottom: 1px solid var(--border-color);
}

header #logo {
  color: var(--main-color);
  font-size: 175%;
  line-height: 1;
  text-align: center;
}

header #logo .icon {
  padding-right: 0.25em;
}

main {
  display: block;
  max-width: 50em;
  margin: 0 auto;
  margin-top: 5em;
}

/* GRID */

.row {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;

  /* flex-wrap: wrap; */
  width: 100%;
  margin: 0;
  padding: 0;
}

.row-middle {
  align-items: center;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: auto;
}

.calender_body_width {
  width: 1840px;
  height: 110px;
}

.col-center {
  color: #7c766f;
  font-weight: 500;
  font-size: 11px;
}

.calendar .header {
  padding: 1.5em 0;
  font-weight: 700;
  font-size: 115%;
  text-transform: uppercase;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  color: var(--main-color);
  transition: 0.25s ease-out;
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  padding: 0.75em 0;
  font-weight: 600;
  font-size: 70%;
  text-transform: uppercase;
}

.calendar .body .cell {
  position: relative;
  height: 4rem;
  padding: 10px;
  overflow: hidden;
  font-size: 1.5em;
  border: 1px solid var(--mui-palette-warning-A100);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.currentDay {
  color: #1e1b16;
}

.selected {
  background-color: var(--mui-palette-primary-main);
}

.selected:hover {
  background-color: var(--mui-palette-primary-main) !important;
}

.today {
  background-color: var(--mui-palette-primary-main);
}

.today:hover {
  background-color: var(--mui-palette-primary-main) !important;
}

.WeekToday {
  background-color: var(--mui-palette-primary-main);
}

.calendar .row {
  flex-wrap: nowrap;
}

.calendar .body .cell .number {
  display: block;
  width: 100%;
  color: var(--mui-palette-warning-300);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  color: var(--main-color);
  font-weight: 700;
  font-size: 8em;
  line-height: 1;
  letter-spacing: -0.07em;
  opacity: 0;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .cell.today .bg {
  color: var(--pink-colo);
  opacity: 0.05;
}

.calendar .body .col .cell {
  width: 100%;
}

.circularProgress {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calenderTitle p {
  font-size: 14px !important;
}

.calenderTitle svg {
  font-size: 14px !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-decoration {
  text-decoration: none;
}

.card_overview div {
  height: unset;
  font-size: 11px;
  line-height: 16px;
}

.card_overview div div h2 {
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
}

.linerGradient {
  background-image: var(--custom-gradient);
}

.icon_holder svg {
  color: #1e1b16 !important;
}

.w-100 {
  width: 100% !important;
}

/* This is for react-calender month view and classes are from library */
.react-calendar {
  width: 100% !important;
  font-family: Poppins !important;
}

.react-calendar_month-viewdays_day {
  margin: 12px !important;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #fbbc13 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--mui-palette-warning-300) !important;
}

.react-calendar__tile--now {
  background-color: transparent !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}

.react-calendar button abbr {
  color: #1f1b13;
  font-family: Poppins !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  color: #1f1b13;
  font-family: Poppins !important;
}

.present-marker {
  width: fit-content !important;
  color: var(--mui-palette-success-main);
}

.absent-marker {
  width: fit-content !important;
  color: var(--mui-palette-error-main) !important;
}

.on-leave-marker {
  width: fit-content !important;
  margin: auto !important;
  color: var(--mui-palette-error-main) !important;
}

.tile-day {
  width: 100% !important;
  height: 70px !important;
  margin-bottom: 5px !important;
  border: 1px solid #d0c5b4 !important;
  border-radius: 5px;

  /* margin-left: 2px !important; */
}

.custom-date-range-pop-up {
  width: 100% !important;
  height: 40px !important;
  margin-bottom: 5px !important;
  border: 1px solid #d0c5b4 !important;
  border-radius: 5px;
}

.react-calendar__tile--active {
  color: black !important;
  background-color: #fbbc13 !important;
}

.react-calendar__tile {
  margin: auto !important;
}

.today {
  border: 2px solid var(--mui-palette-warning-300) !important;
}

.attendance-not-marked abbr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  color: var(--mui-palette-error-main) !important;
  border: 1px dashed var(--mui-palette-error-main);
  border-radius: 50%;
}

.sample .MuiSnackbarContent-root {
  background-color: green !important;
}

.alert .MuiSnackbarContent-root {
  color: var(--mui-palette-error-main);
  font-size: 0.75rem;
  background-color: var(--mui-palette-error-light) !important;
}

.custom-calendar-container {
  display: flex !important;
  justify-content: center !important; /* Centers the calendar horizontally */
}

.react-calendar {
  max-width: 100% !important; /* Ensures the calendar doesn't overflow its container */
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important; /* Creates 7 columns */
  gap: 8px !important; /* Adjust the spacing between the date cells */
}

.react-calendar__month-view__days__day {
  text-align: center !important; /* Centers the text within each date cell */
}

.react-calendar button {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;

  /* border: 1px solid #d0c5b4 !important; */
}

.calender-body {
  padding: 20px !important;
  background: linear-gradient(180deg, #fffdf7 0%, #f8efda 100%) !important;
  border: unset !important;
}

.react-calendar,
.react-calendar *,
.react-calendar *::before,
.react-calendar *::after {
  color: var(--mui-palette-warning-300);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.react-calendar__navigation button {
  border: unset !important;
}

.circularProgressBar {
  width: 25px;
  margin-top: 8px;
}

.up_down_btn {
  position: fixed;
  right: 22px;
  bottom: 40px;
  z-index: 999;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background: #4a4640;

  /* padding: 20px 15px; */
  border-radius: 100px;
  box-shadow: 0 4px 8px 3px #00000026;
  cursor: pointer;
}

.w-98 {
  width: 98%;
}

.up_down_btn-show {
  display: block;
}

.up_down_btn-disabled {
  cursor: default;
  opacity: 0;
  pointer-events: none;
}

.modal_mark .css-rsi8of {
  overflow: hidden;
}

.modal_label {
  margin-left: 0 !important;
}

.modal_label span {
  color: #1e1b16;
  font-size: 14px !important;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.w-78 {
  width: 78%;
}

/* @media (min-width: 1350px) {
  .up_down_btn {
    right: 400px;
  }
}
@media (min-width: 1200px) {
  .up_down_btn {
    right: 360px;
  }
} */
.prev_btn {
  position: absolute;
  top: 53px;
  left: -14px;
  z-index: 999;
  transform: rotate(90deg);
}

.next_btn {
  position: absolute;
  top: 53px;
  right: -14px;
  z-index: 999;
  transform: rotate(270deg);
}

.menuSvg path {
  width: 36px;
  height: 24px;
}

.accIcon path {
  width: 20;
  height: 20px;
}

.present-marker svg path {
  width: fit-content !important;
  color: var(--mui-palette-success-main) !important;
}

.absent-marker svg path {
  width: fit-content !important;
  color: var(--mui-palette-error-main) !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: #1f1b13;
  font-weight: 400;
  font-size: 16px;
}

.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-white {
  background-color: #fff;
}

.customRange .Mui-selected {
  background: unset !important;
}

.customRange li:last-child {
  margin-bottom: 0 !important;
}

.w-100 {
  width: 100%;
}

.p-20 {
  padding: 10px 20px 20px;
}

.userName label {
  color: #1f1b13 !important;
}

.password label {
  color: #1f1b13 !important;
}

.fs-24 {
  font-size: 24px !important;
}

.htw-24 {
  width: 24px;
  height: 24px;
}

.selected-range {
  background-color: var(--mui-palette-Skeleton-bg) !important;
}

.flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.p-10 {
  padding: 10px;
}

.box_shadow_center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ede1cf;
  border: 1.5px solid #fff;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 #0000004d;
}

.modal-bottom div:nth-child(3) {
  border-top-left-radius: 28px !important;
  border-top-right-radius: 28px !important;
}

.bg-grey {
  width: 32px;
  height: 4px;
  background: var(--mui-palette-warning-900) !important;
}

.modal-bottom div:nth-child(1) {
  position: unset !important;
}

.selected-start-end {
  background-color: var(--mui-palette-primary-main) !important;
}

.input_search div:first-child {
  height: 44px;
  padding-left: 16px;
  background: var(--mui-palette-warning-A700);
  border: unset !important;
  border-radius: 100px;
}

.input_search fieldset {
  border: unset !important;
}

.input_search input {
  color: var(--mui-palette-warning-A200);
  font-size: 14px;
}

.mt--4 {
  margin-top: -4rem !important;
}

.checkBox_svg svg {
  fill: var(--mui-palette-warning-A200);
}

.btn-mark-width {
  min-width: 84px;
  height: 2.5rem;
  font-weight: 500;
}

.overview-date-select div:first-child {
  margin-top: 0 !important;
}

@media (width >= 500px) {
  .btn-mark-width {
    width: 20% !important;
  }
}

@media (width >= 900px) {
  .pl-20 {
    padding-left: 20px !important;
  }

  .calender-container .calender-body {
    padding: 20px 140px !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .ps-md-relative {
    position: relative;
  }

  .pl-md-20 {
    padding-left: 20px;
  }

  .display-md-none {
    display: none !important;
  }

  .br-md-tlr-8 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .d-md-flex {
    display: flex;
  }

  .space-md-between {
    justify-content: space-between;
  }

  .min-align-md-center {
    align-items: center;
  }

  .flex-md-end {
    justify-content: end;
  }

  .gap-md-10 {
    gap: 10px;
  }

  .w-md-40 {
    width: 40%;
  }

  .w-md-60 {
    width: 60%;
  }

  .mt-1-rem {
    margin-top: 1rem;
  }

  .top-md-0 {
    top: 0;
  }

  .br-md-8 {
    border-radius: 8px;
  }

  .flex-basis-md-30 {
    flex-basis: 50%;
  }

  .flex-basis-md-50 {
    flex-basis: 50%;
  }

  .flex-basis-md-90 {
    flex-basis: 90%;
  }

  .flex-basis-md-10 {
    flex-basis: 10%;
  }

  .min-width-md-20 {
    width: 25% !important;
    min-width: 25% !important;
  }

  .__floater__open {
    z-index: 9999 !important;
  }
}

@media (width <= 900px) {
  .backgroundFaded div:first-child {
    background-color: unset !important;
  }

  .overview-date-select {
    margin-top: 12px !important;
  }

  .mt-md-12 {
    margin-top: 12px;
  }

  .fl-dir-md-col {
    flex-direction: column !important;
  }

  .align-md-center {
    align-items: center !important;
  }

  .align-md-start {
    align-items: start !important;
  }

  /* .w-md-111 {
    width: 111%;
  } */
  .mt-md-16 {
    margin-top: 16px;
  }

  .ps-md-ab {
    position: absolute;
  }

  .right-md-20 {
    right: 20px;
  }

  .mt-md-3 {
    margin-top: 3px;
  }
}

.italic {
  font-style: italic !important;
}

.accordion-summary div:first-child {
  margin: 0 !important;
}

.text-7C {
  color: var(--mui-palette-warning-400) !important;
}

.facilitator-bg {
  background-image: url('./../assets/images/decorationBg.png');
  /* width: 140px; */
  height: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
}
