.alert .MuiSnackbarContent-root {
  background-color: #ffdad6 !important;
  color: #ba1a1a;
  font-size: 0.75rem;
  margin-top: 35%;
}
.RememberMecheckbox span svg {
  fill: black !important;
}
.RememberMecheckbox span {
  padding: 6px 7px 6px 0 !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drawer-select div div {
  height: 32px !important;
  padding: 0 10px;
  display: flex;
  align-items: center;
  /* border: 1px solid #1f1b13 !important; */
  border-radius: 8px;
}
.word-break {
  word-break: break-all;
}
