.alert .MuiSnackbarContent-root {
  background-color: var(--mui-palette-error-light) !important;
  color: var(--mui-palette-error-main);
  font-size: 0.75rem;
  margin-top: 35%;
}
.remember-me-checkbox span svg {
  fill: black !important;
}
.remember-me-checkbox span {
  padding: 6px 7px 6px 0 !important;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.drawer-select div div {
  height: 32px !important;
  padding: 0 10px;
  display: flex;
  align-items: center;
  /* border: 1px solid #1f1b13 !important; */
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}
.word-break {
  word-break: break-all;
}
.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
  .App {
    font-family: sans-serif;
    text-align: center;
    min-height: 700px;
    background-color: paleturquoise;
    margin: 0;
    padding: 20px;
    width: 100%;
  }
}
/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --pink-color: #ff1a79;
  --custom-gradient: linear-gradient(180deg, #fffdf7 0%, #f8efda 100%);
  --custom-gradient-pink: linear-gradient(45deg, #ff1a79 0%, #eb82b3 40%);
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--mui-palette-success-contrastText);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: 0.25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 70%;
  padding: 0.75em 0;
}

.calendar .body .cell {
  position: relative;
  padding: 10px;
  border: 1px solid var(--mui-palette-warning-A100);
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
  font-size: 1.5em;
  border-radius: 4px;
  height: 4rem;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.currentDay {
  color: #1e1b16;
}

.selected {
  background-color: var(--mui-palette-primary-main);
}
.selected:hover {
  background-color: var(--mui-palette-primary-main) !important;
}

.today {
  background-color: var(--mui-palette-primary-main);
}

.today:hover {
  background-color: var(--mui-palette-primary-main) !important;
}

.calendar .row {
  flex-wrap: nowrap;
}

.calendar .body .cell .number {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}
.calendar .body .cell.today .bg {
  color: var(--pink-colo);
  opacity: 0.05;
}

.calendar .body .col .cell {
  width: 100%;
}

.circularProgress {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.calenderTitle p {
  font-size: 14px !important;
}
.calenderTitle svg {
  font-size: 14px !important;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-decoration {
  text-decoration: none;
}
.card_overview div {
  /* background: blue; */
  height: unset;
  font-size: 11px;
  line-height: 16px;
}
.card_overview div div h2 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  line-height: 24px;
}

.linerGradient {
  background-image: var(--custom-gradient);
}
.icon_holder svg {
  color: #1e1b16 !important;
}
.w-100 {
  width: 100% !important;
}

/* This is for react-calender month view and classes are from library */
.react-calendar {
  width: 100% !important;
}

.react-calendar_month-viewdays_day {
  margin: 12px !important;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #fbbc13 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--mui-palette-warning-300) !important;
}

.react-calendar__tile--now {
  background-color: transparent !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}

.present-marker {
  color: var(--mui-palette-success-main);
  margin: auto !important;
  width: fit-content !important;
}

.absent-marker {
  color: var(--mui-palette-error-main) !important;
  width: fit-content !important;
  margin: auto !important;
}

.on-leave-marker {
  color: var(--mui-palette-error-main) !important;
  width: fit-content !important;
  margin: auto !important;
}

.tile-day {
  border: 1px solid #d0c5b4 !important;
  height: 70px !important;
  width: 100% !important;
  border-radius: 5px;
  margin-bottom: 5px !important;
  /* margin-left: 2px !important; */
}

.react-calendar__tile--active {
  background-color: #fbbc13 !important;
  color: black !important;
}

.react-calendar__tile {
  margin: auto !important;
}

.today {
  /* border: 2px solid var(--mui-palette-warning-300) !important; */
}

.attendance-not-marked abbr {
  border: 1px dashed var(--mui-palette-error-main);
  color: var(--mui-palette-error-main) !important;
  border-radius: 50%;
  padding: 5px;
  height: 25px;
  display: flex;
  width: 25px;
  justify-content: center;
  align-items: center;
}

.sample .MuiSnackbarContent-root {
  background-color: green !important;
}

.alert .MuiSnackbarContent-root {
  background-color: var(--mui-palette-error-light) !important;
  color: var(--mui-palette-error-main);
  font-size: 0.75rem;
}

.custom-calendar-container {
  display: flex !important;
  justify-content: center !important; /* Centers the calendar horizontally */
}

.react-calendar {
  max-width: 100% !important; /* Ensures the calendar doesn't overflow its container */
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important; /* Creates 7 columns */
  gap: 8px !important; /* Adjust the spacing between the date cells */
}

.react-calendar__month-view__days__day {
  text-align: center !important; /* Centers the text within each date cell */
}

.react-calendar button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #d0c5b4 !important; */
}

.calender-body {
  padding: 20px !important;
  background: linear-gradient(180deg, #fffdf7 0%, #f8efda 100%) !important;
  border: unset !important;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  text-decoration: none;
  color: var(--mui-palette-warning-300);
  font-size: 16px;
  font-weight: 400;
}
.react-calendar__navigation button {
  border: unset !important;
}

.circularProgressBar {
  margin-top: 8px;
  width: 25px;
}

.up_down_btn {
  position: fixed;
  bottom: 40px;
  right: 22px;
  z-index: 9999;
  box-shadow: 0px 1px 3px 0px #0000004d;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px 15px; */
  border-radius: 100px;
  box-shadow: 0px 4px 8px 3px #00000026;
  background: #4a4640;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.w-98 {
  width: 98%;
}

.up_down_btn-show {
  display: block;
}

.up_down_btn-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}
.modal_mark .css-rsi8of {
  overflow: hidden;
}
.modal_label {
  margin-left: 0px !important;
}
.modal_label span {
  font-size: 14px !important;
  color: #1e1b16;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.w-78 {
  width: 78%;
}
/* @media (min-width: 1350px) {
  .up_down_btn {
    right: 400px;
  }
}
@media (min-width: 1200px) {
  .up_down_btn {
    right: 360px;
  }
} */
.prev_btn {
  position: absolute;
  top: 53px;
  z-index: 999;
  left: -14px;
  transform: rotate(90deg);
}
.next_btn {
  position: absolute;
  top: 53px;
  right: -14px;
  z-index: 999;
  transform: rotate(270deg);
}
